.header-bar {
    height: 64px;
    border-bottom: 1px solid rgb(0 45 77 / 10%);
}

.product-list-select-box {
    max-width: 475px;
    flex-grow: 1;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 64px;
    padding-left: 1.65rem;
}

.product-list-select-box::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #0000000f;
}

.product-list-select {
    margin-left: 3rem;
    display: flex!important;
    min-width: 555px;
    min-height: 20px!important;
    flex-direction: row!important;
    border: 1px solid #E1E9EF!important;
    padding-left: 0.35rem!important;
    width: 100%;
    align-items: stretch;
    flex-wrap: wrap;
}

.product-list-select label {
    font-size: 0.875rem;
    color: #494F5B;
    font-weight: 600;
    background-color: #F5F8FA;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    border-radius: 25px;
    height: 25px;
    margin-top: 4px;
}

.product-list-select .MuiInputBase-formControl {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.product-list-select .MuiSelect-select {
    background: #ffffff;
    border-radius: 2px;
    min-height: 20px!important;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.813rem;
    border: none!important;
    font-weight: 500;
}

.product-list-select fieldset {
    border: none!important;
}

.header-nav-link {
    min-height: 64px;
    margin-right: 2rem;
    color: rgba(29, 36, 51, 0.8);
    font-weight: 500;
    font-size: 1rem;
    font-family: Roboto Slab;
    margin: 0 2.25rem 0 0;
    display: inline-flex;
    align-items: center;
    text-decoration: none!important;
    position: relative;
    pointer-events: auto;
}

.header-nav-link:hover {
    text-decoration: none!important;
}

.header-nav-link.active {
    position: relative;
    color: #1D2433;
    font-weight: 600;
}

.header-nav-link.active::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 4px;
    right: 0;
    background-color: #006DB5;
}

.header-nav-link.active svg {
    color: #006CB6;
}

.header-nav-icon {
    margin-right: 10px;
    font-size: 1rem!important;
}

.drawer-open-logo {
    display: flex;
    margin-right: 1.85rem;
    padding-right: 1rem;
    box-shadow: 1px 0px 1px #0000000f;
    flex-grow: 0;
    align-items: center;
    min-height: 64px;
}

.drawer-open-logo .main-logo {
    display: none;
}

.drawer-open-logo h1 {
    color: #000B12;
    font-weight: 600 !important;
    font-size: 1rem;
    margin: 0 0 0 0.55rem;
}

.drawer-open-logo img {
    width: 95px;
}

.drawer-close-logo {
    width: 85px;
}

.drawer-close-logo img {
    width: 55px;
    margin-top: 7px;
}

@media screen and (max-width: 1500px) {
    .header-nav-link {
        margin-right: 1rem!important;
        font-size: 0.875rem !important;
    }
    .product-list-select {
        margin-left: 1rem;
    }
}

@media screen and (max-width: 1400px) {
    .product-list-select-box {
        max-width: 400px;
    }
    /* .drawer-open-logo {
        margin-right: 0.5rem;
        padding-right: 0.5rem;
    } */
}

@media screen and (max-width: 1200px) {
    .product-list-select label {
        font-size: 0.75rem;
    }
    .product-list-select-box {
        max-width: 250px;
        padding-left: 1rem;
    }
}
@media screen and (max-width: 870px) {
    .header-nav-link {
        margin-right: 0.5rem!important;
        font-size: 0.75rem !important;
        font-weight: 700;
    }
    .drawer-close-logo {
        width: 65px;
    }
}

.header-nav-link .MuiBadge-badge {
    background-color: #006DB5;
    color: #ffffff;
}